
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  width: auto;
}

header {
  height: 350px;
  width: 100%;
  background-image: url('Star\ Wars\ 2.png');
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  height: 200px;
  width: 100%;
}

main {
  display: flex;
}

h2 {
  color: #FFE81F;
  margin: 0px;
  text-align: center;
  padding-bottom: 20px;;
}

h3 {
  color: #FFE81F
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  text-align: center;
}

div {
  color: #FFE81F
}
.grid {
  display: flex;
  border: 1px solid lightgrey;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.cell {
  border: 1px solid lightgrey;
  width: 11.11%;
  height: 11.11%;
}

.bDroid {
  background-color: black;
  background-size: contain;
  background-image: url('https://bbts1.azureedge.net/images/p/full/2019/06/12bdcb4b-4d63-4ebb-8173-10181eab20bc.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hit {
  background-color: black;
  background-image: none;
}

.laser {
  background-color: black;
  background-size: contain;
  background-image: url('Laser.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mFalcon {
  background-color: white;
  background-size: contain;
  background-image: url('https://www.pikpng.com/pngl/m/30-300944_bleed-area-may-not-be-visible-millennium-falcon.png');
  background-repeat: no-repeat;
  background-position: center;
}

