
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
}

header {
  height: 200px;
  width: 100%;
}

footer {
  height: 200px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  border: 1px solid lightgrey;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.cell {
  border: 1px solid lightgrey;
  width: 11.11%;
  height: 11.11%;
}

.mFalcon {
  background-color: white;
  background-size: contain;
  background-image: url('https://www.pikpng.com/pngl/m/30-300944_bleed-area-may-not-be-visible-millennium-falcon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bDroid {
  background-color: black;
  background-size: contain;
  background-image: url('https://lh3.googleusercontent.com/proxy/mwu7g-L7jVgQ0EXTp0Y6aKxLeyvQdp_tz_IAN8KZgAHh5Kqfn3yGd2oZFWZVZ8TQK25BKbAlAqadiJQ3S6dEB4R6QE1PdtwrLTLkkJ95MLL9TYZ8LK0ZHsO5Nc0l1smqY53_gbpTdiE3idX39rTOohwUXdr-gi9My-kg3w');
  background-repeat: no-repeat;
  background-position: center;
}